/* Variables CSS */
:root {
    --body-color: #4c9a99;
    --text-color: #2e373a;
    --header-color: #6962a3;
    --footer-color: #2b1e30;
    --header-font-family: 'Redressed', cursive;
    --body-font-family: 'Architects Daughter', cursive;
}

/* L'arrière-plan */
body {
    background-image: url(img/3.png);
    background-size: cover;
    background-position: center;
}

/* Styles généraux */
body {
    font-size: 100%;
    font-family: var(--body-font-family);
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--text-color);

    /* Préfixes CSS pour assurer la compatibilité avec les anciens navigateurs */
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
}

h1, h2, h3 {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 20px;
}

h1 {
    text-decoration: dotted;
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    text-decoration: underline dotted;
    font-size: 2.2em;
}

p {
    text-align: justify;
    margin-left: 4em;
    margin-right: 30em;
    font-family: var(--body-font-family);
    font-size: 1.2em;
}

blockquote {
    text-align: right;
    font-style: italic;
    margin: 20px;
    padding: 10px;
}

/* Sommaire et Listes */
nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 20px 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
    font-family: var(--header-font-family);
}

nav ul li a {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    color: var(--text-color);
}

nav ul li a:hover {
    background-color: rgba(var(--body-color), 0.1);
}

/* Images */
.content-block {
    display: flex;
    flex-direction: row-reverse;
    border-top: 1px solid #eaeaea;
}

.image-content, .text-content {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.image-content img {
    width: 100%;
    height: auto;
    display: block;
}

.project {
    margin-bottom: 20px;
}

/* Media Queries pour optimisation responsive */
@media (max-width: 800px) {
    p {
        margin-left: 2em;
        margin-right: 2em;
    }

    /* Mixin pour réutiliser le code */
    .content-block {
        flex-direction: column;
    }

    .image-content, .text-content {
        width: 100%;
        padding: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }
}

/* Styles pour les boutons
